<div class="antialiased bg-gray-50 dark:bg-gray-900">
  <!-- Sidebar -->
  <%- include('./../components/navbar.ejs') %> <%-
  include('./../components/sidebar.ejs') %>

  <main
    class="pt-20 pb-16 antialiased bg-white md:ml-64 lg:pt-16 lg:pb-24 dark:bg-gray-900"
  >
    <div class="flex justify-between px-4 mx-auto mt-10 max-w-screen-2xl">
      <article
        class="w-full max-w-4xl mx-auto format format-sm sm:format-base lg:format-lg format-blue dark:format-invert"
      >
        <header class="mb-4 lg:mb-6 not-format">
          <address class="flex items-center justify-between mb-6 not-italic">
            <div
              class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white"
            >
              <img
                class="w-16 h-16 mr-4 rounded-full"
                src="<%= post.photo %>"
                alt="Jese Leos"
              />
              <div>
                <a
                  href="#"
                  rel="author"
                  class="text-xl font-bold text-gray-900 dark:text-white"
                  ><%= post.name %></a
                >
                <p class="text-base text-gray-500 dark:text-gray-400">
                  <time pubdate datetime="2022-02-08" title="February 8th, 2022"
                    >Feb. 8, 2022</time
                  >
                </p>
              </div>
            </div>
            <div class="flex items-center grow-0">
              <!-- Like icon -->
              <div class="flex items-center gap-2">
                <form action="/like" method="post">
                  <input
                    type="text"
                    name="postid"
                    id="postid"
                    hidden
                    value="<%= post.id %>"
                  />

                  <button type="submit">
                    <svg
                      class="w-6 h-6 text-gray-400"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z"
                      />
                    </svg>
                  </button>
                </form>
                <span class="text-gray-500 text-md"><%= post.likes %></span>
              </div>
              <!-- Unlike icon -->
              <div class="flex items-center gap-2 p-2">
                <form action="/dislike" method="post">
                  <input
                    type="text"
                    name="postid"
                    id="postid"
                    hidden
                    value="<%= post.id %>"
                  />

                  <button type="submit">
                    <svg
                      class="w-6 h-6 text-gray-400"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M11.955 2.117h-.114C9.732 1.535 6.941.5 4.356.5c-1.4 0-1.592.526-1.879 1.316l-2.355 7A2 2 0 0 0 2 11.5h3.956L4.4 16a1.779 1.779 0 0 0 3.332 1.061 24.8 24.8 0 0 1 4.226-5.36l-.003-9.584ZM15 11h2a1 1 0 0 0 1-1V2a2 2 0 1 0-4 0v8a1 1 0 0 0 1 1Z"
                      />
                    </svg>
                  </button>
                </form>
                <span class="text-gray-500 text-md"><%= post.dislikes %></span>
              </div>
            </div>
          </address>
          <h1
            class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white"
          >
            <%= post.title %>
          </h1>
        </header>
        <p class="lead"><%= post.content %></p>
        <section class="not-format">
          <div class="flex items-center justify-between mb-6">
            <h2
              class="text-lg font-bold text-gray-900 lg:text-2xl dark:text-white"
            >
              Discussion (<%= replies.length %>)
            </h2>
          </div>
          <form class="mb-6" action="/reply" method="POST">
            <input type="hidden" name="postid" value="<%= post.id %>" />
            <div
              class="px-4 py-2 mb-4 bg-white border border-gray-200 rounded-lg rounded-t-lg dark:bg-gray-800 dark:border-gray-700"
            >
              <label for="reply" class="sr-only">Your reply</label>
              <textarea
                name="reply"
                id="reply"
                rows="6"
                class="w-full px-0 text-sm text-gray-900 border-0 focus:ring-0 dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                placeholder="Write a reply..."
                required
              ></textarea>
            </div>
            <button
              type="submit"
              class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800"
            >
              Post reply
            </button>
          </form>
          <% replies.forEach(reply => { %> <%-
          include('./../components/reply_card.ejs', {reply: reply}) %> <% }) %>
        </section>
      </article>
    </div>
  </main>
</div>
