<div class="p-4 mx-4 mb-6 bg-gray-100 border border-gray-300 rounded-lg post">
  <a href="/post/<%= post.id %>">
    <h2 class="mb-1 text-xl font-bold rounded-lg"><%= post.title %></h2>
  </a>
  <p class="mb-1 text-gray-800"><%= post.content %></p>
  <div
    class="flex flex-col justify-end gap-4 md:items-center md:justify-between md:flex-row"
  >
    <div
      class="flex flex-col justify-end gap-1 md:gap-4 md:items-center md:justify-between md:flex-row"
    >
      <p class="mb-1 text-lg font-bold text-gray-600"><%= post.name %></p>
      <div class="flex items-center gap-2">
        <% let date = post.updated_at.toLocaleString("en-US", {year: 'numeric',
        month: 'long', day: 'numeric', hour: "numeric", minute: "2-digit"}); %>
        <p class="mb-1 text-gray-600"><%= date %></p>
        <div class="flex items-center gap-2">
          <svg
            class="w-4 h-4 text-gray-400 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M20 3H4a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h2v4a1 1 0 0 0 1.707.707L12.414 16H20a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2ZM7.5 11a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm4.5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm4.5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Z"
            />
          </svg>
          <span class="text-gray-500 text-md"> <%= post.replies_count %> </span>
        </div>
      </div>
    </div>
    <div class="flex items-center grow-0">
      <!-- Like icon -->
      <div class="flex items-center gap-2">
        <svg
          class="w-6 h-6 text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z"
          />
        </svg>
        <span class="text-gray-500 text-md"><%= post.likes %></span>
      </div>
      <!-- Unlike icon -->
      <div class="flex items-center gap-2 p-2">
        <svg
          class="w-6 h-6 text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M11.955 2.117h-.114C9.732 1.535 6.941.5 4.356.5c-1.4 0-1.592.526-1.879 1.316l-2.355 7A2 2 0 0 0 2 11.5h3.956L4.4 16a1.779 1.779 0 0 0 3.332 1.061 24.8 24.8 0 0 1 4.226-5.36l-.003-9.584ZM15 11h2a1 1 0 0 0 1-1V2a2 2 0 1 0-4 0v8a1 1 0 0 0 1 1Z"
          />
        </svg>
        <span class="text-gray-500 text-md"><%= post.dislikes %></span>
      </div>
    </div>
  </div>
</div>
