<div class="antialiased bg-gray-50 dark:bg-gray-900">
  <!-- Sidebar -->
  <%- include('./components/navbar.ejs') %> <%-
  include('./components/sidebar.ejs') %>

  <main class="h-auto p-4 pt-20 bg-white md:ml-64 dark:bg-gray-800">
    <div class="rounded-lg" style="margin-bottom: 1rem">
      <div class="relative inline-block">
        <select
          id="filter"
          class="px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500 hover:bg-blue-200"
        >
          <option value="latest">Latest</option>
          <option value="oldest">Oldest</option>
        </select>
        <div
          class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none"
        ></div>
      </div>
    </div>
    <div class="w-full px-6 mt-16">
      <% result.forEach(post => { %>
        <% if (post.category === 'ideas') { %>
      <div
        class="p-4 mx-4 mb-6 bg-gray-100 border border-gray-300 rounded-lg post"
      >
        <h2 class="mb-1 text-xl font-bold rounded-lg"><%= post.title %></h2>
        <p class="mb-1 text-gray-800"><%= post.content %></p>
        <div class="flex items-center justify-between gap-4">
          <div class="flex items-center gap-4">
            <p class="mb-1 text-lg font-bold text-gray-600"><%= post.name %></p>
            <% let date = post.updated_at.toLocaleString("en-US", {year:
            'numeric', month: 'long', day: 'numeric', hour: "numeric", minute:
            "2-digit"}); %>
            <p class="mb-1 text-gray-600"><%= date %></p>
          </div>
          <div class="flex items-center grow-0">
            <!-- Like icon -->
            <div class="flex items-center gap-2">
              <svg
                class="w-6 h-6 text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z"
                />
              </svg>
              <span class="text-lg text-gray-500"><%= post.likes %></span>
            </div>
            <!-- Unlike icon -->
            <div class="flex items-center gap-2 p-2">
              <svg
                class="w-6 h-6 text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M11.955 2.117h-.114C9.732 1.535 6.941.5 4.356.5c-1.4 0-1.592.526-1.879 1.316l-2.355 7A2 2 0 0 0 2 11.5h3.956L4.4 16a1.779 1.779 0 0 0 3.332 1.061 24.8 24.8 0 0 1 4.226-5.36l-.003-9.584ZM15 11h2a1 1 0 0 0 1-1V2a2 2 0 1 0-4 0v8a1 1 0 0 0 1 1Z"
                />
              </svg>
              <span class="text-lg text-gray-500"><%= post.dislikes %></span>
            </div>
            <!-- Message icon -->
            <div class="flex items-center gap-2">
              <svg
                class="w-6 h-6.5 text-gray-400 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M20 3H4a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h2v4a1 1 0 0 0 1.707.707L12.414 16H20a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2ZM7.5 11a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm4.5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm4.5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Z"
                />
              </svg>
              <span class="text-lg text-gray-500">
                <% if (post.replies ) { %> 0 <% } else {%> <%= post.replies %>
                <% } %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <% } %>
  <% }) %>

      <!-- pagination -->
      <%- include('./components/pages.ejs', {
      current: current,
      next: next,
      prev: prev,
      totalPages: totalPages,
      route: route,
      }) %>

  </main>
</div>
